flows.json
[
    {
        "id": "d7b07874.e16138",
        "type": "mqtt in",
        "z": "47f2f7d5.19bcd8",
        "name": "",
        "topic": "oled/#",
        "qos": "2",
        "broker": "48fb8db.fb70474",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "6250afa8.4bc2c"
            ]
        ]
    },
    {
        "id": "6250afa8.4bc2c",
        "type": "debug",
        "z": "47f2f7d5.19bcd8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 250,
        "y": 80,
        "wires": []
    },
    {
        "id": "ddb6d0c9.2ae6e",
        "type": "inject",
        "z": "47f2f7d5.19bcd8",
        "name": "",
        "topic": "oled/events/message",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "457e66d4.1d0808"
            ]
        ]
    },
    {
        "id": "457e66d4.1d0808",
        "type": "function",
        "z": "47f2f7d5.19bcd8",
        "name": "font_unifont_0_8",
        "func": "function addZero(i) {\n    if (i < 10) {\n        i = \"0\" + i;\n    }\n    return i;\n}\n\nvar d = new Date();\nvar h = addZero(d.getHours());\nvar m = addZero(d.getMinutes());\nvar s = addZero(d.getSeconds());\nvar temperature = global.get(\"temperature\");\nvar forecast = global.get(\"forecast\");\n\nmsg.payload = {\n    time : \n    {\"text\": h + \":\" + m + \":\" + s,\n    \"x\":  0,\n    \"y\":  11,\n    \"font\":\"font_unifont_0_8\"},\n    temperature :\n    {\"text\" : temperature + \" C\",\n    \"x\":  0,\n    \"y\":  27,\n    \"font\":\"font_unifont_0_8\"},\n    forecast :\n    {\"text\" : forecast + \" C\",\n    \"x\":  0,\n    \"y\":  45,\n    \"font\":\"font_unifont_0_8\"}\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "b6374684.b30468"
            ]
        ]
    },
    {
        "id": "b6374684.b30468",
        "type": "mqtt out",
        "z": "47f2f7d5.19bcd8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "false",
        "broker": "48fb8db.fb70474",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "44e54b2d.ff3864",
        "type": "debug",
        "z": "47f2f7d5.19bcd8",
        "name": "",
        "active": false,
        "console": "true",
        "complete": "true",
        "x": 230,
        "y": 260,
        "wires": []
    },
    {
        "id": "bff88125.aaf7e",
        "type": "mqtt in",
        "z": "47f2f7d5.19bcd8",
        "name": "",
        "topic": "zway/#",
        "qos": "2",
        "broker": "48fb8db.fb70474",
        "x": 70,
        "y": 260,
        "wires": [
            [
                "44e54b2d.ff3864"
            ]
        ]
    },
    {
        "id": "57c28842.638b98",
        "type": "mqtt in",
        "z": "47f2f7d5.19bcd8",
        "name": "",
        "topic": "zway/улица/температура",
        "qos": "2",
        "broker": "48fb8db.fb70474",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "c607fa65.514a18"
            ]
        ]
    },
    {
        "id": "c607fa65.514a18",
        "type": "function",
        "z": "47f2f7d5.19bcd8",
        "name": "set global variable temperature",
        "func": "global.set(\"temperature\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "5f1af49f.a4c0ac"
            ]
        ]
    },
    {
        "id": "27a9a2b8.5c590e",
        "type": "mqtt in",
        "z": "47f2f7d5.19bcd8",
        "name": "",
        "topic": "zway/улица/прогноз",
        "qos": "2",
        "broker": "48fb8db.fb70474",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "bb223776.11f708"
            ]
        ]
    },
    {
        "id": "bb223776.11f708",
        "type": "function",
        "z": "47f2f7d5.19bcd8",
        "name": "set global variable forecast",
        "func": "global.set(\"forecast\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "5f1af49f.a4c0ac"
            ]
        ]
    },
    {
        "id": "5f1af49f.a4c0ac",
        "type": "debug",
        "z": "47f2f7d5.19bcd8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "48fb8db.fb70474",
        "type": "mqtt-broker",
        "z": "",
        "broker": "home.nayg.ru",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "compatmode": false,
        "keepalive": "15",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": null,
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": null,
        "birthPayload": ""
    }
]
